<ion-header>
  <ion-navbar>
    <ion-title>{{factory.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="factory-detail">
  <div text-center>
    <img [src]="factory.profilePic" [alt]="factory.name"><br>
  </div>

  <div>
    <h3>Machines:</h3>
    <ol>
      <li *ngFor="let machine of factory.machines">
        <div>{{machine.name}}</div>
      </li>
    </ol>

    <h3>Schedules:</h3>
    <ol>
      <li *ngFor="let sched of factory.schedules">
        <div>shifts: {{sched.shiftHours.length}} / hours: 8 / days: {{sched.shiftDays.length}}</div>
      </li>
    </ol>
  </div>

  <div *ngIf="hasDowntimeCodes">
    <top5-graph [downtimeCodes]="downtimeCodes"></top5-graph>
  </div>

</ion-content>
