<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
    <ion-buttons right>
      <img src="assets/img/logo.png" width="40px" style="display:inline-block" height="40px"/>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content machine-list">
  <ion-list [virtualScroll]="machines">
    <ion-grid fixed>
      <ion-row align-items-stretch>
        <ion-col col-12 col-md-6 align-self-stretch align-self-center *virtualItem="let machine" approxItemHeight="457px">
          <ion-card class="machine-card">

            <ion-card-header>
              <button ion-item (click)="goToMachineDetail(machine)">
                <ion-thumbnail item-start>
                  <img [src]="machine.profilePic" alt="machine profile pic">
                </ion-thumbnail>
                <ion-item>
                  <div style="font-weight:bold;font-size:32px">{{machine.name}}</div>
                  <ion-icon *ngIf="machine.downtimeEventId==0; else downTemplate" class="thumbs-up" name="thumbs-up"></ion-icon>
                  <ng-template #downTemplate>
                    <ion-icon class="thumbs-down" name="thumbs-down"></ion-icon>
                  </ng-template>
                </ion-item>
              </button>
              <ion-item *ngIf="machine.downtimeEventId!=0">
                <ion-avatar item-start>
                  <img src="https://apps.ei3.com{{downtime(machine).imageURL}}">
                </ion-avatar>
                <div class="downtime-code">
                  {{downtime(machine).code}}
                </div>
              </ion-item>
            </ion-card-header>

            <ion-card-content class="outer-content">
                <ion-item-divider></ion-item-divider>
              <ion-list>
                  <button ion-item (click)="goToMachineDetail(machine)">
                      <h2 class="underline">{{machine.name}} Details</h2>
                </button>
                <button ion-item (click)="goToFactoryDetail(machine.factory)">
                  <h2 class="underline">{{machine.factory.name}}</h2>
                </button>
              </ion-list>
            </ion-card-content>

          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
