<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content machine-list">
  <ion-list [virtualScroll]="machines">
    <ion-grid fixed>
      <ion-row align-items-stretch>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center *virtualItem="let machine" approxItemHeight="457px">

          <ion-card class="machine-card">
            <ion-card-header>
              <button ion-item  (click)="goToMachineDetail(machine)">
                <ion-thumbnail item-start>
                  <img [src]="machine.profilePic" alt="machine profile pic">
                </ion-thumbnail>
                <ion-item>
                  {{machine.name}}
                  <div *ngIf="machine.downtimeEventId==0; else downTemplate">
                    <ion-icon  style="float: right; text-align: top;" name="thumbs-up"></ion-icon>
                  </div>
                  <ng-template #downTemplate>
                    <ion-icon  style="float: right; text-align: top;" name="thumbs-down"></ion-icon>
                  </ng-template>
                </ion-item>
              </button>
              <div *ngIf="machine.downtimeEventId!=0">
                <ion-item>
                  <ion-avatar item-start>
                    <img src="https://apps.ei3.com{{downtime(machine).imageURL}}">
                  </ion-avatar>
                  {{downtime(machine).code}}
                </ion-item>
              </div>
            </ion-card-header>

            <ion-card-content class="outer-content">
              <ion-list>
                
                <button ion-item (click)="goToFactoryDetail(machine.factory)">
                  <h3>{{machine.factory.name}}</h3>
                </button>

                <button ion-item (click)="goToMachineDetail(machine)">
                  <h3>About {{machine.name}}</h3>
                </button>
              </ion-list>
            </ion-card-content>

          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
