page-machine-detail {

  img {
    max-width: 140px;
  }

  p {
    color: #60646B;
  }

  .thumbs-up {
    font-size: 48px;
    color: green;
  }

  .thumbs-down {
    font-size: 48px;
    color: red;
  }

  .downtime-code {
    color: red;
  }
}