<ion-header>
  <ion-navbar>
    <ion-title>{{machine?.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="machine-detail">
  <div text-center *ngIf="machine">
    <img [src]="machine.profilePic" [alt]="machine.name"><br>

    <button ion-button icon-only clear small color="github">
      <ion-icon name="logo-github"></ion-icon>
    </button>
    <button ion-button icon-only clear small color="instagram">
      <ion-icon name="logo-instagram"></ion-icon>
    </button>

  </div>

  <h3 text-center *ngIf="machine">
    shifts: {{schedule.shifts}} / hours: {{schedule.shiftHours}} / days: {{schedule.shiftDays}}
  </h3>

  <div text-center *ngIf="machine">
    <ion-icon *ngIf="machine.downtimeEventId==0; else downTemplate" class="thumbs-up" name="thumbs-up"></ion-icon>
    <ng-template #downTemplate>
      <ion-icon class="thumbs-down" name="thumbs-down">
        <ion-item>
          <ion-avatar item-start>
            <img src="https://apps.ei3.com{{downtime.imageURL}}">
          </ion-avatar>
          <div class = "downtime-code">
            {{downtime.code}}
          </div>
        </ion-item>
      </ion-icon>
    </ng-template>
  </div>

  <top5-graph [categories]="topDowntimeCodeCategories" [totals]="topDowntimeCodeTotals"></top5-graph>
  
</ion-content>

<ng-template #downTemplate>
  <ion-icon name="thumbs-down"></ion-icon>
  {{machine.downtimeEventId}}
</ng-template>
  
