page-machine-detail {

  img {
    max-width: 140px;
  }

  p {
    color: #60646B;
  }

  .thumbs-up {
    font-size: 48px;
    color: color($colors, healthGreen, base);
  }

  .thumbs-down {
    font-size: 48px;
    color: color($colors, healthRed, base);
  }

  .downtime-code {
    color: color($colors, healthRed, base);
  }
}