<ion-header>
  <ion-navbar>
    <ion-title>{{machine?.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="machine-detail">
  <div text-center>
    <img [src]="machine.profilePic" [alt]="machine.name"><br>
  </div>

  <h3 text-center>
    shifts: {{schedule.shiftHours.length}} / hours: 8 / days: {{schedule.shiftDays.length}}
  </h3>

  <div text-center>
    <ion-icon *ngIf="machine.downtimeEventId==0; else downTemplate" class="thumbs-up" name="thumbs-up"></ion-icon>
    <ng-template #downTemplate>
      <ion-icon class="thumbs-down" name="thumbs-down">
        <ion-item>
          <ion-avatar item-start>
            <img src="https://apps.ei3.com{{downtime.imageURL}}">
          </ion-avatar>
          <div class = "downtime-code">
            {{downtime.code}}
          </div>
        </ion-item>
      </ion-icon>
    </ng-template>
  </div>
  
  <div text-center>
    <machine-status [machine]="machine"></machine-status>
  </div>

  <div *ngIf="hasDowntimeCodes">
    <top5-graph [topDowntimeCodes]="topDowntimeCodes"></top5-graph>
  </div>

</ion-content>
