page-machine-detail {

  img {
    max-width: 140px;
  }

  .thumbs-up {
    font-size: 48px;
    color: color($colors, healthGreen, base);
  }

  .thumbs-down {
    font-size: 48px;
    color: color($colors, healthRed, base);
  }

  .downtime-code {
    font: 120% Helvetica, sans-serif;
    color: color($colors, healthRed, base);
  }

  .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px;
  }
}