<!-- Generated template for the ClockComponent component -->
<div>

  <div text-center *ngIf='isDate(time)'>
    {{time | date:'medium' }}   
  </div>

  <br/>

  <div *ngIf='isDate(time)' style="margin-left:10px; margin-right:10px;">

    <button ion-button icon-only (click)="togglePlay()">
      <ion-icon [name]="playIcon"></ion-icon>
    </button>

    <button ion-button icon-only (click)="rewind()">
      <ion-icon name="rewind"></ion-icon>
    </button>

    <button ion-button icon-only (click)="fastforward()">
      <ion-icon name="fastforward"></ion-icon>
    </button>

    <ion-range min="0" max="{{days}}" [(ngModel)]="day" style="width:100%;">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>{{days}}</ion-label>
    </ion-range>
  </div>


  <div text-center *ngIf="isDate(start) && isDate(end)">
    {{start | date:'mediumDate'}} ... {{end | date:'mediumDate'}}
  </div>


  <br/>

</div>