machine-status {

    ion-card {
        max-width: 350px;
        display: inline-block;
      }

    ion-card-content {
        background-color: #67B98C;
    }

    .no-padding {
        padding: 3px !important;
        font-size: 20px;
        color: white;
    }
}
